{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <h1>Mon panier</h1>
        <div class="row">
            <div class="col-md-8">
                {% for product in cart %}
                    <div class="row mt-2">
                        <div class="col-md-2">
                            <img src="/uploads/{{ product.object.illustration }}" class="img-fluid" alt="{{ product.object.name }}">
                        </div>
                        <div class="col-md-6">
                            <strong>{{ product.object.name }}</strong>
                            <span class="d-block small">Prix unitaire : {{ product.object.pricewt|price }}</span>
                        </div>
                        <div class="col-md-2 text-right">
                            <a href="{{ path('app_cart_decrease', { id: product.object.id } ) }}">-</a> <span class="badge text-bg-secondary">x{{ product.qty }}</span> <a href="{{ path('app_cart_add', { id : product.object.id } ) }}">+</a>
                        </div>
                        <div class="col-md-2">
                            <strong>{{ (product.qty * product.object.pricewt)|price }}</strong>
                        </div>
                    </div>
                {% endfor %}
                <a href="{{ path('app_cart_remove') }}" class="small d-block mt-3">Vider le panier</a>
            </div>
            <div class="col-md-4">
                Récap de mon panier (prix, bouton commander)
            </div>
        </div>
    </div>
{% endblock %}
